*{
	margin: 0;
	padding: 0;
}
.bgimg{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(27deg,pink 50%,lightblue 50%);
}
.centerdiv{
	width: 350px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: green;
	transform: translate(-50%,-50%);
	background-image: linear-gradient(27deg,lightblue 50%, pink 50%);
	box-shadow: 1px black;
	border-radius: 10%;
	border-color: black;
}
#profile{
	width: 120;
	height: 120;
	border-radius: 50%;
	position: relative;
	top: -60px;
	left: calc((350px - 120px)/2)
}
h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	word-spacing: 10px
	margin-top:-50px;
	margin-bottom: 50px;
	text-shadow: -2px 2px 1px #0A84C6
}
.singh{
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	margin: auto;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 10%;
}
::placeholder{
	letter-spacing: 2px;
	color: black;
}
button{
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	margin: auto;
	color: black;
}
.registration{
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	margin: auto;
	background-color: lightgreen;
	text-transform: uppercase;
	box-sizing: border-box;

}

